<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="content has-text-centered">
          <p style="margin-bottom: 0.5em">
            <strong>Star Wars App</strong> by <a href="https://github.com/yanari" target="_new">Marcelle Yanari</a>.
          </p>
          <p style="vertical-align: middle">
            Made with
            <span class="icon"><i class="fab fa-lg fa-angular"></i></span>
          </p>
        </div>
      </div>
      <div class="column is-6 has-text-centered">
        <div class="content has-icons-right">
          <span class="icon is-large">
            <a href="https://www.instagram.com/chuubait/" target="_new"><i class="fab fa-2x fa-instagram"></i></a>
          </span>
          <span class="icon is-large">
            <a href="https://www.facebook.com/marcelle.yanari" target="_new"><i class="fab fa-2x fa-facebook-square"></i></a>
          </span>
          <span class="icon is-large">
            <a href="https://github.com/yanari" target="_new"><i class="fab fa-2x fa-github"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>