<div class="columns has-text-centered is-centered">
  <div class="column is-half is-full-mobile">
    <div class="tabs is-centered">
      <ul>
        <li routerLinkActive="is-active">
          <a routerLink="/characters/all">All</a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="/characters/light">Light</a>
        </li>
        <li routerLinkActive="is-active">
          <a routerLink="/characters/dark">Dark</a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>